*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sun{
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-color: yellow;
    box-shadow: 0px 0px 10px 10px red;

}