*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color:rgb(167, 107, 107);
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 800px;
    width: 800px;
    gap: 10px;
}
.first{
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 4;
}
.second{
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
}
.sixth{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: green;
}
.third{
    background-color: red;
}
.fourth{
    background-color: orange;
}
.fifth{
    background-color: red;
}
.seventh{
    background-color: red;
}
.eighth{
    background-color: orange;
}