*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(18, 16, 16);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 5px;

}
img{
    height:100%;
    width: 100%;
}
@media screen and (max-width:900px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        height: 200px;
        width: 800px;
        
    }
    
}
@media screen and (max-width:500px){
    .container{
    
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
       
        height: 200px;
        width: 800px;
        
    }
    
}