*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0e0e;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
    perspective: 500px;
}
.box{
    height: 200px;
    width: 200px;  
    background-color: purple;
    cursor: pointer;
   /* transition-property: height;
   transform: translate(500px,500px);
   transform: rotate(30deg);*/
   transform: skewY(30deg);
   transition: all 4s;
    transition-duration: 4s;
}
.box:hover{
    background-color: aqua;
    
    transform: scale(2);
}