*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0e0e;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 200px;
    width: 200px;
    background-color: purple;
    cursor: pointer;
    transition-property: width;
    transition-duration: 4s;
}
.box:hover{
    background-color: aqua;
    width: 300px;
    height: 200px;
}