.circle{
    height:60px;
    width:60px;
    border-radius:50%;
    position:absolute;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:12px;
    font-weight:bold;
    text-align:center;

    pointer-events:none;

    /* smooth animation */
    animation: grow 1.8s ease-out forwards;
}

@keyframes grow {
    0%{
        transform: translate(-50%, -50%) scale(0.1);
        opacity:1;
    }
    70%{
        transform: translate(-50%, -50%) scale(2.5);
        opacity:0.9;
    }
    100%{
        transform: translate(-50%, -50%) scale(3.5);
        opacity:0;
    }
}

