.circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 6s forwards;
    position: absolute;
}
@keyframes grow {
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(20);
        opacity: 0;
        font-size: 40px;
    }
}